*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../img/portada4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-size: 1em;
    line-height: 1.7em;
    padding: 0 0 0 10px 0;
}

h3{
    font-size: 1.6em;
    color: aqua;
}

.parrafo-1{
    background-color: fff;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    width: 400px;
    color: aliceblue;

}

